<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= company.plan %>
  </p>

  <p>
    <strong>Max buildings:</strong>
    <%= company.max_buildings %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= company.domain %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= company.subdomain %>
  </p>

</div>
